@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");

.Board {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 100vw;
  min-width: 360px;
  max-width: 900px;
  height: 100vw;
  min-height: 360px;
  max-height: 900px;
  //   grid-gap: 10px;
  border: 2px #aaaaaa solid;
  border-radius: 5px;
  background-color: #3333337e;
  box-sizing: border-box;
}

button {
  background: none;
  border-radius: 5px;
  color: #aaaaaa;
  font-weight: 600;
  font-size: clamp(10px, 2vw, 24px);
  font-family: "Rubik", "Gill Sans", sans-serif;
  border: none;
  box-sizing: content-box;
  padding: 0;
  &:hover {
    font-weight: bold;
    background-color: #555555;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
  }
}
.emptyButton {
  position: relative;
  padding: 0;
}

.Cell {
  position: relative;
  box-sizing: border-box;
  border: 1px gray solid;
  color: #eeeeee;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-family: "Rubik", "Gill Sans", sans-serif;
  padding: none;

  &:nth-child(3n) {
    border-right: 2px #aaaaaa solid;
  }
  &:nth-child(9n) {
    border-right: 1px gray solid;
  }
  &:nth-child(27n) {
    border-bottom: 2px #aaaaaa solid;
  }
  &:nth-child(27n-1) {
    border-bottom: 2px #aaaaaa solid;
  }
  &:nth-child(27n-2) {
    border-bottom: 2px #aaaaaa solid;
  }
  &:nth-child(27n-3) {
    border-bottom: 2px #aaaaaa solid;
  }
  &:nth-child(27n-4) {
    border-bottom: 2px #aaaaaa solid;
  }
  &:nth-child(27n-5) {
    border-bottom: 2px #aaaaaa solid;
  }
  &:nth-child(27n-6) {
    border-bottom: 2px #aaaaaa solid;
  }
  &:nth-child(27n-7) {
    border-bottom: 2px #aaaaaa solid;
  }
  &:nth-child(27n-8) {
    border-bottom: 2px #aaaaaa solid;
  }

  &:hover {
    background-color: #444444;
  }
}

.Number {
  font-size: clamp(16px, 6vw, 64px);
  font-family: "Rubik", "Gill Sans", sans-serif;
  font-weight: bold;
  display: block;
  text-shadow: rgba(15, 25, 11, 0.5) 3px 3px 6px;
}

.active {
  background-color: #333333;
}

.highlight {
  background: radial-gradient(#00000000 00%, #f3730b22);
  background: #f1b90028;
}

.initial {
  border-radius: 0;
  background-color: #285864;
  &:hover {
    background-color: #285864;
  }
}
.Error {
  background: linear-gradient(
    35deg,
    rgba(255, 94, 0, 0.432),
    rgba(255, 0, 0, 0.37)
  );
  font-size: clamp(16px, 6vw, 64px);
  font-weight: bold;
  display: block;
}

.UIContainer {
  width: 100%;
  margin: 10px;
  display: block;
  position: relative;

  .UIButton {
    height: 50px;
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 10px;
    &:active {
      background-color: #cccccc;
      color: black;
    }
  }

  .helpToggle {
    border: 1px solid white;
    padding: 14px 10px 16px 60px;
    position: relative;
    display: inline-block;
    // padding-top: 10px;
    height: 30px;

    input[type="checkbox"] {
      height: 0;
      width: 0;
      visibility: hidden;
      position: relative;
    }

    label {
      cursor: pointer;
      text-indent: -200%;
      line-height: 30px;
      color: #cccccc;
      width: 60px;
      height: 30px;
      border: 1px solid white;
      background: #bb0f0f88;

      display: inline-block;
      border-radius: 100px;
      position: relative;

      color: #eeeeee;
      font-weight: 600;
      font-size: clamp(10px, 2vw, 24px);
      font-family: "Rubik", "Gill Sans", sans-serif;
    }

    label:after {
      color: #333333;
      content: "";
      text-indent: 0;
      position: absolute;
      top: 5%;
      left: 3%;
      width: 45%;
      height: 90%;
      background: #fff;
      border-radius: 45px;
      transition: 0.3s;
    }

    input:checked + label {
      content: "";
      background: #1dbb0f88;
    }

    input:checked + label:after {
      content: "";
      left: calc(100% - 3%);
      transform: translateX(-100%);
    }

    label:active:after {
      width: 40px;
    }
  }
}
